<h1>Conversations Index View<h1>

<p>Should see a list of all conversations that involve <%= current_user.firstname + current_user.lastname %></p>

<div class=”ui segment”>

<div class=”ui segment”>
 <h3>Start Conversation</h3>
  <div class=”ui list”>
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class=”item”>
   <%= user.firstname %> <%= link_to 'create conversation!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
 </div>
  <% end %>
 <% end %>
 </div>