
<div style="text-align: center;">
    <h1 style="font-size: 50px;"><%= @main_header %></h1>
    <h2 style="font-size: 30px;"><%= @second_header %></h2>
    <p><%= @website_description %></p>
</div>

<div id="landing_page_sign_up" style="text-align: center; font-size: 25px;"><%= link_to('Hungry, Broke & Local?', new_user_registration_path) %></div>

<div id="landing_page_image" style="padding-top: 100px;"><img src="https://bit.ly/2Dd8pvU" width="600px" height="300px" style="display: block; margin-left: auto; margin-right: auto;"></div>


