// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
    text-align: left;
}

.back_about {
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
}

.landing_page_links {
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.landing_imgs {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    padding-left: 70px;
}

.landing_page_links:hover {
    cursor: pointer;
}


.main-grid {
    margin-top: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img_find {
    grid-area: 1/1;

}
.link_find {
    grid-area: 2/1;
}

.img_post {
    grid-area: 1/2;
}
.link_post {
    grid-area: 2/2;
}

.img_manage {
    grid-area: 1/3;
}
.link_manage {
    grid-area: 2/3;
}

.img_about {
    grid-area: 1/4;
}
.link_about {
    grid-area: 2/4;
}

.img_history {
    grid-area: 1/5;
}
.link_history {
    grid-area: 2/5;
}

.landing_page_links {
    text-align: center;
    padding: 10px;
    // margin-left: 150px;
    // margin-right: 150px;
    transition-duration: 0.4s;
}
    
    .landing_page_links:hover {
    // background-color: #82e380;
}


// .link_find {
//     grid-area: 1/1;
//     // grid-row: 1/2;
//     // grid-column: 1/1;
// }

// .link_post {
//     grid-area: 1/3;
//     // grid-row:
//     // grid-column:
// }

// .link_manage {
//     grid-area: 9/3;
//     // grid-row:
//     // grid-column:
// }

// .link_about {
//     grid-area: 5/2;
//     // grid-row:
//     // grid-column:
// }

// .link_history {
//     grid-area: 9/1;
//     // grid-row:
//     // grid-column:
// }

// .landing_page_links {
//     text-align: center;
//     background-color: #82E380;
//     padding: 10px;
//     margin-left: 100px;
//     margin-right: 100px;
//     transition-duration: 0.4s;
// }
    
//     .landing_page_links:hover {
//     background-color: #4CAF50;
// }


