<h1>New Listing</h1>
<p class="new_listing">Please fill out all fields</p>

<%= render 'form', product: @product %>

<%= link_to 'Back', '/pages/landing_page_login' %>
<br>
<%= link_to 'Find Food', products_path %>
